<div class="main-content">
  <div class="container-fluid mt-5">
    <!-- Inicio card de Creación Contrato -->
    <div class="card">
      <div class="card-header card-header-info card-header-tabs">                
        <h6 class="card-title">Listado de Contratos</h6>                  
      </div>
     <!--  <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Lista Contrato</h4>
      </div> -->
      <div class="card-body">
        <div class="table-responsive">
          <mat-form-field>
            <mat-label>Filtro de busqueda</mat-label>
            <input matInput placeholder="Buscar" />
          </mat-form-field>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                <th>{{ tableData1.headerRow[1] }}</th>
                <th>{{ tableData1.headerRow[2] }}</th>
                <th>{{ tableData1.headerRow[3] }}</th>
                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                <th class="text-right">{{ tableData1.headerRow[6] }}</th>
                <th class="text-right">{{ tableData1.headerRow[7] }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of listaDeContratos">
                <td class="text-center">{{ row.codigo }}</td>
                <td>{{ row.nombre }}</td>
                <td>{{ row.direccion }}</td>
                <td>{{ row.tipo_contrato }}</td>
                <td class="text-right">{{ row.modalidad }}</td>
                <td class="text-right">{{ row.estado_servicio }}</td>
                <td class="text-right">{{ row.estado_servicio }}</td>
                <td class="td-actions text-right">
                  <!--
                    <button
                    mat-raised-button
                    type="button"
                    class="btn btn-info {{ row[5] }}"
                  >
                    <i class="material-icons">person</i>
                  </button>
                  -->
                  <button
                    mat-raised-button
                    type="button"
                    class="btn btn-default {{ row[7] }}"
                    (click)="editarContrato(row.id)"
                  >
                    <i class="material-icons">keyboard_arrow_right</i>
                  </button>
                  <!--
                    <button
                    mat-raised-button
                    type="button"
                    class="btn btn-danger {{ row[5] }}"
                  >
                    <i class="material-icons">close</i>
                  </button>
                  -->
                </td>
              </tr>
            </tbody>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
