<h5 style="font-weight: bold;">Folio Referencia</h5>
<br/>
<div [formGroup]="buscaFolioForm" class="mr-2">
  <mat-form-field>
    <mat-select
    placeholder="Seleccione libro"
    name="city"
    formControlName="libro"    
    >
    <mat-option 
      *ngFor="let libro of libros"
      [value]="libro.nombre"
      (click)="buscaFolios(libro)"
      >
      {{ libro.nombre }} | Cod.: {{ libro.codigo }} | Clase
      Libro: {{ libro.tipoLibro.descripcion }} | Tipo Firma:
      {{ libro.tipoFirma.nombre }} | Estado :
      {{ libro.estadoLibro.nombre }}
    </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-dialog-content>
    <div class="row">
        <form [formGroup]="buscaFolioForm" class="col-md-12">          
            
                <table class="table table-striped mt-2">
                    <thead class="text-muted">
                      <tr>
                        <th>{{ tableData1.headerRow[0] }}</th>
                        <th>{{ tableData1.headerRow[1] }}</th>
                        <th>{{ tableData1.headerRow[2] }}</th>
                        <th>{{ tableData1.headerRow[3] }}</th>
                        <th>{{ tableData1.headerRow[4] }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let row of ListaFolios">
                        <td>
                          {{ row.numeroFolio }}
                        </td>
                        <td style="font-weight: bold;">
                          {{ row.emisor }}
                        </td>
                        <td>
                          <a style="font-weight: bold;" class="text-muted">{{
                            row.tipoFolio.nombre
                          }}</a>
                          - {{ row.asunto }}
                        </td>
                        <td>
                          {{ row.fechaCreacion | date: "dd-MM-yyyy HH:mm" }}
                        </td>
                        <td class="td-actions text-right">
                          <button
                              mat-raised-button
                              type="button"
                              class="btn mr-1 btn-default {{ row[4] }}"
                              (click)="visorPdf(row)"
                            >
                              <i class="material-icons">visibility</i>
                            </button>
                            <button
                              mat-raised-button
                              type="button"
                              class="btn btn-default {{ row[4] }}"
                              (click)="agregarFolioReferencia(row)"
                              *ngIf="row.existTableSearchFolio === false"
                            >
                              <i class="material-icons">add</i>
                            </button>
                            <button
                              mat-raised-button
                              type="button"
                              class="btn btn-success {{ row[4] }}"
                              (click)="deleteFolioReferencia(row)"
                              *ngIf="row.existTableSearchFolio === true"
                            >
                              <i class="material-icons">check</i>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="btn btn-primary">Salir</button>
</mat-dialog-actions>