<div class="main-content">
    <div class="container-fluid">
        <!-- Inicio card de Creación Contrato -->        
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">mail_outline</i>
              </div>
              <h4 class="card-title">Nuevo Contrato</h4>
            </div>
            <div class="card-body ">
              <form method="#" action="#">
                <div class="row">
                    <mat-form-field class="example-full-width col-md-3">
                        <input matInput placeholder="Cod. Contrato *" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-9">
                        <input matInput placeholder="Nombre Contrato *" type="text">
                    </mat-form-field>
                </div>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Descripción" rows="2"></textarea>
                </mat-form-field>                
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Dirección *" type="text">
                </mat-form-field>
                <div class="row">                    
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Región *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>    
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Comuna *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Tipo Contrato *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>                        
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Modalidad Contrato *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width col-md-6">
                        <input matInput placeholder="Otro tipo de Contrato *" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-6">
                        <input matInput placeholder="Otra modalidad de Contrato *" type="text">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="row col-md-4">
                        
                            <mat-form-field class="col-md-3">
                                <mat-select placeholder="Tipo Moneda" name="city">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{ city.viewValue }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                        <mat-form-field class="example-full-width col-md-6">
                            <input matInput placeholder="Otro tipo de Contrato" type="text">
                        </mat-form-field>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Tipo Monto" name="city">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{ city.viewValue }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>  
                    
                    <mat-form-field class="col-md-4">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha Inicio" (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha Término" (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <hr>
                <h4>Mandante</h4>
                <div class="row">
                    <mat-form-field class="col-md-2">
                        <mat-select placeholder="RUT *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-5">
                        <input matInput placeholder="Razón Social" type="text" value="Ilustre Minicipalidad de La Serena" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-md-5">
                        <mat-select placeholder="Dependencia *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Dirección" value="Av. Balmaceda 254" disabled>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Comuna" value="La Serena" disabled>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Región" value="4º Región de Coquimbo" disabled>
                    </mat-form-field>
                </div>
                <hr>
                <h4>Contratista</h4>
                <div class="row">
                    <mat-form-field class="col-md-2">
                        <mat-select placeholder="RUT *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-5">
                        <input matInput placeholder="Razón Social" type="text" value="Constructora La Serena Ltda." disabled>
                    </mat-form-field>
                    <mat-form-field class="col-md-5">
                        <mat-select placeholder="Dependencia *" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Dirección" value="Av. Cisternas 4758" disabled>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Comuna" value="La Serena" disabled>
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput type="text" placeholder="Región" value="4º Región de Coquimbo" disabled>
                    </mat-form-field>
                </div>
                <hr>
                <h4>Configuración de Permisos</h4>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Mandante crear Libros                      
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Contratista crear Libros
                    </label>
                </div>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Mandante actualizar información del Contrato                      
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Contratista actualizar información del Contrato
                    </label>
                </div>
                <hr>
                <h4>Contacto Comercial</h4>
                <div class="row">
                    <mat-form-field class="example-full-width col-md-6">
                        <input matInput placeholder="Nombre Contacto *" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-6">
                        <input matInput placeholder="Cargo" type="text">
                    </mat-form-field>                    
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput placeholder="Teléfono Celular *" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput placeholder="Teléfono Fijo" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-4">
                        <input matInput placeholder="Email *" type="email">
                    </mat-form-field>
                </div>
                <!-- <mat-checkbox>Subscribe to newsletter</mat-checkbox> -->
              </form>
            </div>
            <div class="card-footer ">
              <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Submit</button>
            </div>
        </div>
        <!-- Término card de Creación Contrato -->
        <!-- card generica -->
        <div class="card ">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">business</i>
            </div>
          </div>
          <div class="card-body ">
            <div class="container-fluid">
              <div class="row">
                <div class="container col-md-4">
                  <h3>dsdasdasd</h3>      
                </div>
                <div class="container col-md-4">
                  <h3>dsdasdasd</h3>
                </div>
                <div class="container col-md-4">
                  <h3>dsdasdasd</h3>
                </div>                
              </div>
            </div>            
          </div>
        </div>
        <!-- card generica -->

        <!-- Inicio card de Creación Libro -->
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">                
                  <i class="material-icons">book</i>                              
              </div>              
              <!-- <h4 class="card-title">Nuevo Libro</h4> -->
            </div>
            <div class="card-body ">
              <form method="#" action="#">
                <div class="row">
                    <mat-form-field class="example-full-width col-md-3">
                        <input matInput placeholder="Cod. Libro" type="text">
                    </mat-form-field>
                    <mat-form-field class="example-full-width col-md-9">
                        <input matInput placeholder="Nombre Libro" type="text">
                    </mat-form-field>
                </div>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Descripción" rows="2"></textarea>
                </mat-form-field>
                <div class="row">                    
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Tipo Libro" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>    
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Tipo Firma" name="city">
                          <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{ city.viewValue }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <hr>
                <h4>Configuración de Permisos</h4>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Mandante generar folios                      
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Contratista generar folios
                    </label>
                </div>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Mandante abrir el Libro
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Contratista abrir el Libro
                    </label>
                </div>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Mandante cerrar el Libro
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Permitir al Administrador del Contratista cerrar el Libro
                    </label>
                </div>
                <div class="togglebutton">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Solicitar confirmación de lectura de Folios al Mandante
                    </label>
                </div>
                <div class="togglebutton togglebutton-success">
                    <label>
                      <input type="checkbox" checked="">
                      <span class="toggle"></span>
                      Solicitar confirmación de lectura de Folios al Contratista
                    </label>
                </div>
              </form>
            </div>
            <div class="card-footer ">
              <button mat-raised-button type="" class="btn btn-fill btn-rose">Cancelar</button>
              <button mat-raised-button type="submit" class="btn btn-fill btn-rose">Crear Libro</button>              
            </div>
        </div>
        <!-- Término card de Creación Libro-->        
    </div>    
</div>