:host /deep/ angular-editor#anotacion .angular-editor-button[title="Insert Image"]{
    display: none
    
}
.respuestaFolio{
    width: 80%;
}
.iconoFolioOrigen{
    font-weight: normal;
    float: right;
}
.iconoFolioOrigen :hover{
    cursor: pointer;
}
.cardPdf {
    border: none;
}
#anotacion {
    font-weight: 500;
}