:host /deep/ angular-editor#anotacion .angular-editor-button[title="Insert Image"]{
    display: none
    
}

:host /deep/ angular-editor#anotacion .angular-editor-button[title="Insert Video"]{
    display: none
    
}
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Subscript"]{
    display: none 
}
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Superscript"]{
    display: none
    
}
/*
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Strikethrough"]{
    display: none
}*/
:host /deep/ angular-editor#anotacion .angular-editor-button[title="HTML Code"]{
    display: none
    
}
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Clear Class "]{
    display: none
    
}
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Insert Link"]{
    display: none
    
}
:host /deep/ angular-editor#anotacion .angular-editor-button[title="Unlink"]{
    display: none
    
}
.respuestaFolio{
    width: 80%;
}
.iconoFolioOrigen{
    font-weight: normal;
    float: right;
}
.iconoFolioOrigen :hover{
    cursor: pointer;
}
.cardPdf {
    border: none;
}
#anotacion {
    font-weight: 500;
}
.custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select some files';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }
  
  body {
    padding: 20px;
  }

  .ellipsis{
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #6787e3;    
}

::ng-deep .mat-progress-bar-buffer {
    background: #fff;    
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;       
}

.audio-progress-bar {
    height: 12px;
    border: solid 1px #999;
}

