<div class="main-content animate__animated animate__fadeIn">
  <div class="container-fluid">
    <div class="card"  >
      <div class="card-body" >
        <mat-tab-group>
          <mat-tab label="Borrador">
            <form [formGroup]="folioForm">
              <div class="container-fluid">
                <div class="mt-2">                
                  <button mat-raised-button class="btn btn-default btn-fab btn-sm mr-1" (click)="volverListaFolios()">
                    <i class="material-icons">keyboard_arrow_left</i>
                  </button>
                  <button mat-raised-button type="button" class="btn btn-primary btn-fab btn-sm mr-1">
                    <i class="material-icons">save_alt</i>                    
                  </button>
                  <button mat-raised-button type="button" class="btn btn-primary btn-fab btn-sm mr-1">
                    <i class="material-icons">print</i>                    
                  </button>
                  <button mat-raised-button type="button" class="btn btn-primary btn-fab btn-sm mr-1">
                    <i class="material-icons">mail</i>                    
                  </button>                 
                </div>
                <hr/>                
                  <img
                    id="imagenLogo1"
                    class="mr-1"
                    src="/assets/img/logo42_.png"
                  />
                  <img id="imagenLogo2" src="/assets/img/letra120x34_.png" />                
                <hr/>
                <div class="row" id="formFolio">
                  <div class="col-6 d-flex justify-content-start">
                    <table>
                      <tr>
                        <td style="font-size: 15px; font-weight: bold;">
                          Contrato:
                        </td>
                        <td style="font-size: 15px; font-weight: bold;" *ngIf="libro.contrato">
                          &nbsp;<strong>{{ libro.contrato.nombre }}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>Código:</td>
                        <td *ngIf="libro.contrato">&nbsp;{{ libro.contrato.codigo }}</td>
                      </tr>
                      <tr>
                        <td>Mandante:</td>
                        <td *ngIf="libro.contrato">
                          &nbsp;{{
                            libro.contrato.dependenciaMandante.entidad.nombre
                          }} |  &nbsp;RUT:
                          {{ libro.contrato.dependenciaMandante.entidad.rut }}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td *ngIf="libro.contrato">
                          &nbsp;{{ libro.contrato.dependenciaMandante.nombre }}
                        </td>
                      </tr>
                      <tr>
                        <td>Contratista:</td>
                        <td *ngIf="dependenciaContratista.entidad">
                          &nbsp;{{ dependenciaContratista.entidad.nombre }} | &nbsp;RUT:
                          {{ dependenciaContratista.entidad.rut }}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td *ngIf="dependenciaContratista.entidad">
                          &nbsp;{{ dependenciaContratista.nombre }}
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <table>
                      <tr>
                        <td style="font-size: 15px; font-weight: bold;">
                          <strong>Libro:</strong>
                        </td>
                        <td style="font-size: 15px; font-weight: bold;">
                          &nbsp;<strong>{{ libro.nombre }}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>Código:</td>
                        <td>&nbsp;{{ libro.codigo }}</td>
                      </tr>
                      <tr>
                        <td>Clase Libro:</td>
                        <td *ngIf="libro.tipoLibro">&nbsp;{{ libro.tipoLibro.descripcion }}</td>
                      </tr>
                      <tr>
                        <td>Tipo Firma:</td>
                        <td *ngIf="libro.tipoFirma">&nbsp;{{ libro.tipoFirma.nombre }}</td>
                      </tr>
                      <tr>
                        <td>Fecha Apertura:</td>
                        <td>
                          &nbsp;{{
                            libro.fechaApertura | date: "dd-MM-yyyy HH:mm"
                          }}
                        </td>
                      </tr>
                      <tr>
                        <!--
                            <td>Fecha Cierre:</td>
                             <td>&nbsp;-</td>
                        -->
                      </tr>
                    </table>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Borrador creado por"
                      type="text"
                      formControlName="emisor"
                      disabled
                    />                    
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Perfil usuario"
                      type="text"
                      formControlName="usuarioPerfilLibro"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="Creación"
                      type="text"
                      formControlName="fechaCreacion"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="Actualización"
                      type="text"
                      formControlName="fechaModificacion"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <div class="row"> 
                  <mat-form-field class="example-full-width col-md-12">
                    <mat-select placeholder="Receptor" name="city" formControlName="receptor">
                      <mat-option
                        *ngFor="let recep of receptor"
                        [value]="recep.id"
                        (click)="cambiaReceptor(recep)"
                      >
                      {{ recep?.usuarioDependencia?.usuario?.firstName }} {{ recep?.usuarioDependencia?.usuario?.lastName }}  | Rut : {{ recep?.usuarioDependencia?.rut }}   |  Perfil : {{ recep?.perfilUsuarioLibro.nombre }} |  Cargo : {{ recep?.cargoFuncion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div   class="d-flex mt-1" *ngxPermissionsOnly="['administrador','superior']">
                  <div class="flex-grow-1" *ngIf="muestraCambioAdmin">
                    <mat-form-field  class="example-full-width">
                      <input
                        matInput
                        formControlName="cambioAdmin"
                        type="text"
                        disabled
                      />
                    </mat-form-field>
                  </div>
                  <div class="ml-2" *ngIf="muestraCambioAdmin">
                    <button (click)="modalCambioAdministrador()" mat-raised-button class="btn btn-primary btn-sm btn-fab btn-round">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>
                <div class="d-flex mt-1"  *ngIf="necesitaRespuesta">
                  <div class="flex-grow-1" *ngIf="muestraRespuestaReferenciaFechaRequerida">
                    <mat-form-field  class="example-full-width">
                      <input
                        matInput
                        formControlName="respuestaFolio"
                        placeholder="Respuesta de "
                        type="text"
                        disabled
                      />
                    </mat-form-field>
                  </div>
                  <div class="ml-2">
                    <button (click)="visualizarPdfOrigen()" *ngIf="Folio.idFolioRelacionado !== null " mat-raised-button class="btn btn-primary btn-sm btn-fab btn-round">
                      <i class="material-icons">visibility</i>
                    </button>
                  </div>
                </div>               
                
                <!-- <div class="">          
                    Folios de referencia: <tag-input [(ngModel)]='regularItems' theme='filled-theme'></tag-input>
                  </div> -->

                <div class="d-flex mt-1" *ngIf="muestraRespuestaReferenciaFechaRequerida">
                  <div class="flex-grow-1">
                    <mat-form-field class="example-chip-list">
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip  *ngFor="let folio of folios" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(folio)" style="font-size: 11px; padding-top: 0px; padding-bottom: 0px; margin: 2px;">
                          {{folio.libro.nombre}} | Folio Nº{{ folio.numeroFolio}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Folios Referencia"
                                disabled
                               formControlName="folioReferencia"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
                  <div class="ml-2">
                    <button (click)="buscaFolioReferencia()" mat-raised-button class="btn btn-primary btn-sm btn-fab btn-round">
                      <i class="material-icons">search</i>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <mat-form-field class="col-md-7">
                    <mat-select
                      placeholder="Tipo Folio"
                      name="city"
                      formControlName="tipoFolio"
                    >
                      <mat-option
                        *ngFor="let tipo of tipoFolio"
                        [value]="tipo.nombre"
                        (click)="valorTipoFolio(tipo)"
                      >
                        {{ tipo.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <div class="col-md-1"></div> -->
                  <div class="col-md-5">
                    <div class="row" *ngIf="muestraRespuestaReferenciaFechaRequerida">
                      <div class="togglebutton togglebutton-success col-md-6" style="margin-right: auto;">
                        <label>
                          <input
                            type="checkbox"
                            formControlName="requiereRespuesta"
                            (click)="ocultaFechaRequerida()"
                          />
                          <span class="toggle"></span>
                          Solicitar respuesta
                        </label>
                      </div>
                      <!--
                                            <mat-form-field
                        class="col-5"
                        *ngIf="muestraFechaRequerida"
                        
                      >
                        <input
                          matInput
                          type="datetime-local"
                          formControlName="fechaRequeridaDatepicker"
                          [matDatepicker]="picker"
                          placeholder="Fecha Requerida"
                          (click)="picker.open()"
                          
                        />
                        <mat-datepicker-toggle
                          matSuffix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>   
                      -->
                      <mat-form-field   class="col-6" *ngIf="muestraFechaRequerida">
                        <input formControlName="fechaRequeridaDatepicker" matInput type="datetime-local" placeholder="Fecha requerida">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <mat-form-field class="example-full-width">
                  <input
                    matInput
                    placeholder="Asunto"
                    type="text"
                    value=""
                    formControlName="asunto"
                    maxlength="130"
                  />
                </mat-form-field>
                <!-- <div class="row mb-1">
                    <div style="font-weight: bold;"class="col-6 align-self-end">
                      Anotación
                    </div>
                    <div class="col-6 text-right">                  
                      <button mat-raised-button type="submit" class="btn btn-sm btn-primary btn-just-icon">
                        <span class="btn-label">
                          <i style="font-weight: normal" class="material-icons">record_voice_over</i>
                        </span>                   
                      </button>
                      <button mat-raised-button type="submit" class="btn btn-sm btn-primary btn-just-icon">
                        <span class="btn-label">
                          <i class="material-icons">mic</i>
                        </span>                   
                      </button>                  
                    </div>
                  </div> -->
                  <!--
                    
                  -->
                  
                <angular-editor
                  id="anotacion"
                  [placeholder]="'Ingrese anotación...'"
                  [config]="editorConfig"
                  formControlName="anotacion"
                ></angular-editor>
                
                <!--
                   <div
                  [dropzone]="multipleConfig"
                  class="dropzone dropzone-container"
                  message="Click or drag images here to upload"
                  (init)="onUploadInit($event)"
                  (error)="onUploadError($event)"
                  (success)="onUploadSuccess($event)"
                >
                  <div class="dz-message needsclick">
                    <h4 class="mt-4">
                      Arrastre los arhivos aquí o haga Click en el cuadro para
                      seleccionarlos y adjuntar.
                    </h4>
                    <p class="dropzone-msg-desc">
                      El peso de cada archivo no puden superar los 50 mb, con un
                      total máximo de 10 archivos por folio.
                    </p>
                  </div>
                </div>
                -->
                <input style="display: none"  type="file" (change)="onFileChange($event)" multiple #hiddenfileinput>
                <br>
                <!--
                  
                -->
                <button type="button" class="btn btn-primary btn-sm mb-2" (click)="hiddenfileinput.click()" multiple  id="file">
                  <i class="material-icons">attach_file</i>
                  Adjuntar Archivo
                </button> 
                <br>
                <div>
                  <!--
                                      <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Archivo</th>
                            <th ng-show="uploader.isHTML5">Tamaño</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let file of archivosFolio">
                        <td><strong>{{ file.descripcion }}</strong></td>
                        <td><strong ng-show="uploader.isHTML5" nowrap>{{file.size}} </strong></td>                        
                        <td nowrap class="text-right">                          
                            <i type="button" class="material-icons text-gray" (click)="eliminarArchivo(file)">delete</i>                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  -->
                  <label for="singleFile">Upload file</label>
                  <input id="singleFile" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
                  <br>
                  
                  <mat-file-upload-queue #fileUploadQueue
                      [fileAlias]="'file'"
                      [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">
                  
                      <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                  </mat-file-upload-queue>
                  <hr>
                  <button mat-raised-button type="submit" class="btn btn-default" (click)="eliminarFolio()" *ngxPermissionsOnly="['administrador','asistente','superior', 'administrador/s']">
                    <!-- <i class="material-icons">delete</i> -->
                    Eliminar
                  </button>
                  <div class="pull-right">
                    <button mat-raised-button type="submit" class="btn btn-primary mr-1" [disabled]="!folioForm.valid" (click)="previsualizar()">                    
                      <!-- <i class="material-icons">pageview</i>                     -->
                      Previsualizar
                    </button>
                    <button mat-raised-button type="submit" class="btn btn-primary" (click)="guardarFolio()" [disabled]="!folioForm.valid" *ngxPermissionsOnly="['administrador','asistente','superior', 'administrador/s']">
                      <!-- <i class="material-icons">get_app</i>                     -->
                      Guardar
                    </button>                  
                  </div>                  
                </div>                
                <mat-divider class="mt-2"></mat-divider>
                <p style="font-size: smaller;" class="text-right mt-1 mb-3">
                  Creado mediante en plataforma <a href="">www.lodigital.cl</a>,
                  Diseñada por LinkSystem Spa.
                </p>
              </div>
            </form>
          </mat-tab>
          <!--
            <mat-tab label="Notas">
            NOTAS
          </mat-tab>
          <mat-tab label="Alertas">
            <div class="container-fluid mt-3">
              <button mat-raised-button class="btn btn-primary">
                <span class="btn-label">
                  <i class="material-icons">add_alert</i>
                </span>
                Nueva Alerta
              </button>
              <div
                class="alert alert-success alert-with-icon"
                data-notify="container"
              >
                <i class="material-icons" data-notify="icon">notifications</i>
                <span
                  data-notify="icon"
                  class="now-ui-icons ui-1_bell-53"
                ></span>
                <div class="row">
                  <div class="col-6">
                    <h5>Recordatorio</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab"
                    >
                      <i class="material-icons">notifications_off</i>
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-3 float-md-left">
                    <strong>Estado: </strong>Vigente
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Alertar el: </strong>22/10/2020 12:00
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Importancia: </strong>Normal
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Enviar e-mail: </strong>Si
                  </div>
                </div>
                <hr />
                <p>
                  This is a notification with close button and icon and have
                  many lines. You can see that the icon and the close button are
                  always vertically aligned. This is a beautiful notification.
                  So you don't have to worry about the style.
                </p>
              </div>

              <div
                class="alert alert-warning alert-with-icon"
                data-notify="container"
              >
                <i class="material-icons" data-notify="icon">notifications</i>
                <span
                  data-notify="icon"
                  class="now-ui-icons ui-1_bell-53"
                ></span>
                <div class="row">
                  <div class="col-6">
                    <h5>Recordatorio</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab"
                    >
                      <i class="material-icons">notifications_off</i>
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-3 float-md-left">
                    <strong>Estado: </strong>Vigente
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Alertar el: </strong>22/10/2020 12:00
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Importancia: </strong>Normal
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Enviar e-mail: </strong>Si
                  </div>
                </div>
                <hr />
                <p>
                  This is a notification with close button and icon and have
                  many lines. You can see that the icon and the close button are
                  always vertically aligned. This is a beautiful notification.
                  So you don't have to worry about the style.
                </p>
              </div>

              <div
                class="alert alert-danger alert-with-icon"
                data-notify="container"
              >
                <i class="material-icons" data-notify="icon">notifications</i>
                <span
                  data-notify="icon"
                  class="now-ui-icons ui-1_bell-53"
                ></span>
                <div class="row">
                  <div class="col-6">
                    <h5>Recordatorio</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab"
                    >
                      <i class="material-icons">notifications_off</i>
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-3 float-md-left">
                    <strong>Estado: </strong>Vigente
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Alertar el: </strong>22/10/2020 12:00
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Importancia: </strong>Normal
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Enviar e-mail: </strong>Si
                  </div>
                </div>
                <hr />
                <p>
                  This is a notification with close button and icon and have
                  many lines. You can see that the icon and the close button are
                  always vertically aligned. This is a beautiful notification.
                  So you don't have to worry about the style.
                </p>
              </div>

              <div
                class="alert alert-info alert-with-icon"
                data-notify="container"
              >
                <i class="material-icons" data-notify="icon">notifications</i>
                <span
                  data-notify="icon"
                  class="now-ui-icons ui-1_bell-53"
                ></span>
                <div class="row">
                  <div class="col-6">
                    <h5>Recordatorio</h5>
                  </div>
                  <div class="col-6 text-right">
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">edit</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab mr-1"
                    >
                      <i class="material-icons">delete</i>
                    </button>
                    <button
                      style="background-color: #ffffff;"
                      class="btn btn-sm btn-round btn-fab"
                    >
                      <i class="material-icons">notifications_off</i>
                    </button>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-3 float-md-left">
                    <strong>Estado: </strong>Vigente
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Alertar el: </strong>22/10/2020 12:00
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Importancia: </strong>Normal
                  </div>
                  <div class="col-md-3 float-md-left">
                    <strong>Enviar e-mail: </strong>Si
                  </div>
                </div>
                <hr />
                <p>
                  This is a notification with close button and icon and have
                  many lines. You can see that the icon and the close button are
                  always vertically aligned. This is a beautiful notification.
                  So you don't have to worry about the style.
                </p>
              </div>
            </div>
          </mat-tab>
          -->
          
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


