.material-icons-lista {
  margin-right: 10px;
}
.mat-stroked-button{
  width: auto;
}
.ellipsis{
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  position: relative;
  height: inherit;
}
.active {
  background: lightblue;
}