.material-icons-lista {
  margin-right: 10px;
}
.mat-stroked-button{
  width: auto;
}
.ellipsis{
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  position: relative;
  height: inherit;
}
.active {
  background: rgb(236, 236, 236);
}
.tablaFolio {
  width: 100%;
    
}
tr.example-detail-row {
  height: 0;    
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;  
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  padding-left: 8px;
  padding-right: 8px;   
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #347cf3;    
}

::ng-deep .mat-progress-bar-buffer {
  background: rgb(226, 226, 226);    
}


