<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div>
          <form [formGroup]="folioFormGroup">
            <div class="row" >
              <div class="col-6 d-flex justify-content-start">
                <table class="mb-1">
                  <tr>
                    <td style="font-size: 15px; font-weight: bold;">
                      Contrato:
                    </td>
                    <td style="font-size: 15px; font-weight: bold;">
                      &nbsp;<strong>{{ contrato.nombre }}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>Código:</td>
                    <td>&nbsp;{{ contrato.codigo }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <table class="mb-1">
                  <tr>
                    <td style="font-size: 15px; font-weight: bold;">
                      Perfil Libro:
                    </td>
                    <td style="font-size: 15px; font-weight: bold;" *ngIf="usuarioLibro.perfilUsuarioLibro">
                      &nbsp;<strong>{{
                        usuarioLibro.perfilUsuarioLibro.nombre
                      }}</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>Cargo:</td>
                    <td>&nbsp;{{ usuarioLibro.cargoFuncion }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="d-flex">
              <div class="flex-grow-1">
                <mat-form-field>
                  <mat-select
                    placeholder="Libro Seleccionado"
                    name="city"
                    formControlName="libro"
                  >
                    <mat-option
                      *ngFor="let libro of libros"
                      [value]="libro.nombre"
                      (click)="buscaFolios(libro)"
                    >
                      {{ libro.nombre }} | Cod.: {{ libro.codigo }} | Clase
                      Libro: {{ libro.tipoLibro.descripcion }} | Tipo Firma:
                      {{ libro.tipoFirma.nombre }} | Estado :
                      {{ libro.estadoLibro.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="ml-2">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-default btn-sm btn-fab"
                  (click)="volverContrato()"
                >
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div
            class="col-md-2"
            style="margin-left: initial; margin-right: auto;"
          >
            <div>
              <button
                mat-raised-button
                class="btn btn-primary"
                (click)="nuevoFolio()"
              >
                <span class="btn-label">
                  <i class="material-icons">add</i>
                </span>
                Nuevo Folio
              </button>
            </div>
            <div>
              <mat-list role="list">
                <hr />
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Bandeja de Folio</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Folio Mandante</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Folio Contratista</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Sin respuesta</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Sin Leer</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Destacados</mat-list-item
                >
                <mat-list-item role="listitem">
                  <i class="material-icons material-icons-lista"
                    >forward_to_inbox</i
                  >
                  Borradores</mat-list-item
                >
              </mat-list>
            </div>
          </div>
          <div class="row col-md-10">
            <div class="table-responsive" style="margin-right: 2%;">
              <div>
                <mat-form-field>
                  <mat-label>Filtro de busqueda</mat-label>
                  <input matInput placeholder="Buscar" />
                </mat-form-field>
                <table class="table table-striped mt-2">
                  <thead class="text-muted">
                    <tr>
                      <th>{{ tableData1.headerRow[0] }}</th>
                      <th>{{ tableData1.headerRow[1] }}</th>
                      <th>{{ tableData1.headerRow[2] }}</th>
                      <th>{{ tableData1.headerRow[3] }}</th>
                      <th>{{ tableData1.headerRow[4] }}</th>
                      <th class="text-right">
                        {{ tableData1.headerRow[5] }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of folios">
                      <td>
                        <!-- <a href=""><i style="font-size: 22px;" class="material-icons align-middle text-gray">check_box_outline_blank</i></a> -->
                        <!--
                                                  <a href=""
                          ><i
                            style="font-size: 22px;"
                            class="material-icons align-middle text-gray"
                            >star_border</i
                          ></a
                        >
                        <a href=""
                          ><i
                            style="font-size: 22px;"
                            class="material-icons align-middle text-gray"
                            >label_important_outline</i
                          ></a
                        >
                        -->
                        <a href=""
                          ><i
                            style="font-size: 22px;"
                            class="material-icons align-middle text-gray"
                            >star_border</i
                          ></a
                        >
                        {{ row.numeroFolio }}
                      </td>
                      <td style="font-weight: bold;">
                        {{ row.emisor }}
                      </td>
                      <td>
                        <a style="font-weight: bold;" class="text-muted">{{
                          row.tipoFolio.nombre
                        }}</a>
                        - {{ row.asunto }}
                      </td>
                      <td>
                        <span class=" {{ row[4] }}">{{
                          row.fechaRequerida | date: "dd-MM-yyyy HH:mm"
                        }}</span>
                      </td>
                      <td>
                        {{ row.fechaCreacion | date: "dd-MM-yyyy HH:mm" }}
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[7] }}"
                          (click)="folioFirmado(row)"
                          *ngIf="row.numeroFolio !== null"
                        >
                          <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[7] }}"
                          (click)="detalleLibro(row)"
                          *ngIf="row.numeroFolio === null"
                        >
                          <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
