<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid mt-3">
                    <h5 style="color: #252525;"><strong>Razón Social</strong></h5>
                    <div class="row">
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-9">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-9">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-9">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-9">
                            <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                        </mat-form-field>
                    </div>
                






                </div>
            </div>
        </div>
    </div>
</div>
