<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-header card-header-info card-header-tabs">                
                <h6 class="card-title">Mi Perfil</h6>                
            </div>
            <div class="card-body">
                <div id="accordion" role="tablist">
                    <div class="card-collapse mt-2">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 style="font-weight: bold;">
                              <a data-toggle="collapse" href="#Tab1" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                Mis Datos
                                <i class="material-icons mb-1">keyboard_arrow_down</i>
                              </a>
                            </h5>
                        </div>
                        <div id="Tab1" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <form [formGroup]="formUsuario">
                                    <div class="container-fluid mt-3">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-3">
                                                <input matInput placeholder="RUT" type="text"  formControlName="rut"/>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width col-md-9">
                                                <input matInput placeholder="Nombres" type="text"  formControlName="nombres" disabled />
                                            </mat-form-field>
                                        </div>
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput placeholder="Apellidos" type="text" formControlName="apellidos" />
                                            </mat-form-field>
                                        </div> 
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput placeholder="Email Principal" type="email"  formControlName="emailPrincipal" />
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput placeholder="Email Secundario" type="email" formControlName="emailSecundario" />
                                            </mat-form-field>                        
                                        </div>
                                        <div class="row">                      
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput placeholder="Teléfono Principal" type="text"  formControlName="telefonoPrincipal" />
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput placeholder="Teléfono Secundario" type="text"  formControlName="telefonoSecundario" />
                                            </mat-form-field>
                                        </div>                                                
                                        <div class="pull-right">
                                            <button
                                              mat-raised-button
                                              type="submit"
                                              class="btn btn-default mr-1" 
                                              *ngIf="editarUsuario"  
                                              (click)="cancelarEditarUsuarioForm()"                                   
                                            >                                     
                                              Cancelar
                                            </button>
                                            <button (click)="updateUsuario()" *ngIf="editarUsuario" mat-raised-button type="submit" class="btn btn-primary">                         
                                              Guardar Datos
                                            </button>
                                            <button (click)="editarUsuarioForm()" *ngIf="!editarUsuario" mat-raised-button type="submit" class="btn btn-primary">                         
                                              Editar Datos
                                            </button>
                                        </div>
                                    </div>
                                </form>                                        
                            </div>
                        </div>         
                    </div>
                    <!--
                        <div class="card-collapse">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 style="font-weight: bold;">
                              <a data-toggle="collapse" href="#Tab2" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                Configuración y Preferencias
                                <i class="material-icons mb-1">keyboard_arrow_down</i>
                              </a>
                            </h5>
                        </div>
                        <div id="Tab2" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container-fluid mt-3">
                                    Tab2
                                </div>                              
                            </div>
                        </div>
                    </div>
                    -->


                    <div class="card-collapse">
                        <form [formGroup]="formCambioClave">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 style="font-weight: bold;">
                                  <a data-toggle="collapse" href="#Tab3" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    Usuario y Clave de Acceso
                                    <i class="material-icons mb-1">keyboard_arrow_down</i>
                                  </a>
                                </h5>
                            </div>
                            <div id="Tab3" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="container-fluid mt-3">
                                        <div class="row">
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput formControlName="login" placeholder="Nombre Usuario Actual" type="text"  />
                                            </mat-form-field>                                        
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput formControlName="claveActual" placeholder="Ingrese clave actual" type="text" value="Fernando Alejandro" disabled />
                                            </mat-form-field>
                                        </div>
                                        <div class="row">                                        
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput formControlName="claveNueva" placeholder="Ingrese nueva clave" type="text" value="Fernando Alejandro" disabled />
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width col-md-6">
                                                <input matInput formControlName="repitaClavenueva" placeholder="Repita nueva clave" type="text" value="Fernando Alejandro" disabled />
                                            </mat-form-field>
                                        </div>
                                        <div class="pull-right">
                                            <button
                                              mat-raised-button
                                              type="submit"
                                              class="btn btn-default mr-1" 
                                              *ngIf="cambioClaveUsuario" 
                                              (click)="cancelar()"                                    
                                            >                                     
                                              Cancelar
                                            </button>
                                            <button   [disabled]="!formCambioClave.valid" *ngIf="cambioClaveUsuario" (click)="guardarCambioClave()" mat-raised-button type="submit" class="btn btn-primary">                         
                                              Guardar
                                            </button>                                        
                                            <button *ngIf="!cambioClaveUsuario" mat-raised-button type="submit" class="btn btn-primary" (click)="cambioClave()">                         
                                               Cambiar Clave
                                            </button>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
