<div class="main-content">
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-header card-header-info card-header-tabs">
                
                    <h4 class="card-title">Datos Usuario</h4>
                   <!--  <p class="card-category">prb dghasjda dgashdagsdasd </p>
 -->

                
                
              </div>
            <div class="card-body">
                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <h5 style="color: #252525;"><strong>Datos Personales</strong></h5> -->
                        </div>
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="Fecha creación" type="text" value="10/01/2020" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-3">
                            <input matInput placeholder="Fecha modificación" type="text" value="21/04/2020" disabled />
                        </mat-form-field>
                    </div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="RUT" type="text" value="78.986.789-6" disabled />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre(s)" type="text" value="Fernando Alejandro" disabled />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellido Paterno" type="text" value="Vilches" disabled />
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellido Materno" type="text" value="Soleman" disabled />
                    </mat-form-field>
                    <div class="row">
                        <mat-form-field class="example-full-width col-md-6">
                            <input matInput placeholder="Email Principal (utilizado en acceso)" type="email" value="fvilchessoleman@gmail.com" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-6">
                            <input matInput placeholder="Email Secundario" type="email" value="fvilchessoleman2@gmail.com" disabled />
                        </mat-form-field>                        
                    </div>
                    <div class="row">                      
                        <mat-form-field class="example-full-width col-md-6">
                            <input matInput placeholder="Teléfono Principal" type="text" value="966453188" disabled />
                        </mat-form-field>
                        <mat-form-field class="example-full-width col-md-6">
                            <input matInput placeholder="Teléfono Secundario" type="text" value="582542555" disabled />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
