<div class="wrapper wrapper-full-page">
  <div
    class="page-header login-page header-filter"
    filter-color="black"
    style="
      background-image: url('./assets/img/login.jpg');
      background-size: cover;
      background-position: top center;
    "
  >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form [formGroup]="loginForm">
            <div class="card card-login card-hidden">
              <span class="mb-2 mt-5" style="text-align: center;">
                <img src="/assets/img/accesologo.jpg" />
              </span>
              <div class="card-body">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">person</i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="RUT"
                      formControlName="username"
                    />
                  </div>
                </span>

                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Contraseña"
                      formControlName="password"
                    />
                  </div>
                </span>
                <div class="d-flex justify-content-end">
                  <a href="" class="align-content-end"
                    ><strong>¿Olvidaste tu contraseña?</strong></a
                  >
                </div>
              </div>
              <div class="card-footer justify-content-center mt-3">
                <button
                  mat-raised-button
                  class="btn btn-primary btn-block"
                  (click)="login()"
                  [disabled]="loginForm.invalid"
                >
                  Ingresar
                </button>
              </div>
              <div style="text-align: center;" class="mt-4 mb-3">
                <span
                  >Sistema desarrollado por
                  <a href="https://www.linksystem.cl" target="_blank"
                    ><strong>LinkSystem </strong></a
                  >Spa.</span
                >
                <br /><small>Versión 2020</small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <!-- <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav> -->
        <div class="copyright pull-right">
          &copy; LODigital, Plataforma desarrollada por
          <a href="https://www.linksystem.cl">LinkSystem</a> Spa.
        </div>
      </div>
    </footer>
  </div>
</div>
