<div class="main-content animate__animated animate__fadeIn" >
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Folio">
            <div class="container-fluid">
              <div class="mt-2">
                <button mat-raised-button 
                  type="button" 
                  class="btn btn-default btn-fab btn-sm mr-1" 
                  (click)="volverListaFolios()">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <button mat-raised-button 
                  type="button" 
                  class="btn btn-primary btn-sm mr-1"
                  [disabled]="Folio.requiereRespuesta === false || idlibroRelacionado !== null || usuario?.adminActivo === false" 
                  (click)="responderFolio()" 
                  *ngxPermissionsOnly="['administrador']">
                  <i class="material-icons">reply</i>
                  Responder
                </button>                
                <button
                  mat-raised-button
                  class="btn btn-primary btn-sm mr-1"
                  [disabled]="Folio.idUsuarioLectura !== null  || usuario?.adminActivo === false"
                  (click)="lecturaFolio()"
                   *ngxPermissionsOnly="['administrador']"
                >
                  <i class="material-icons">insert_drive_file</i>
                  Visualizar PDF
                </button>
                <button mat-raised-button 
                  type="button" 
                  class="btn btn-primary btn-fab btn-sm mr-1">
                    <i class="material-icons">save_alt</i>                    
                </button>
                <button mat-raised-button 
                  type="button" 
                  class="btn btn-primary btn-fab btn-sm mr-1">
                    <i class="material-icons">print</i>                    
                </button>








              </div>
              <hr />
              <img class="mr-1" src="/assets/img/logo42_.png" />
              <img src="/assets/img/letra120x34_.png" />
              <hr />
              <div class="row">
                <div class="col-6 d-flex justify-content-start">
                  <table>
                    <tr>
                      <td style="font-size: 15px; font-weight: bold;">
                        Contrato:
                      </td>
                      <td style="font-size: 15px; font-weight: bold;"  *ngIf="Folio.libro">
                        &nbsp;<strong>{{ Folio.libro.contrato.nombre }}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td>Código:</td>
                      <td *ngIf="Folio.libro">&nbsp;{{ Folio.libro.contrato.codigo }}</td>
                    </tr>
                    <tr>
                      <td>Mandante:</td>
                      <td *ngIf="Folio.libro">
                        &nbsp;{{
                          Folio.libro.contrato.dependenciaMandante.entidad.nombre}} | &nbsp;RUT:
                          {{
                            Folio.libro.contrato.dependenciaMandante.entidad.rut
                          }}
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td *ngIf="Folio.libro">
                        &nbsp;{{ Folio.libro.contrato.dependenciaMandante.nombre }}
                      </td>
                    </tr>
                    <tr>
                      <td>Contratista:</td>
                      <td  *ngIf="dependenciaMandante">&nbsp;{{ dependenciaMandante.entidad.nombre }} |  &nbsp;RUT: {{ dependenciaMandante.entidad.rut }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td *ngIf="dependenciaMandante">
                        &nbsp;{{ dependenciaMandante.nombre }}
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <table>
                    <tr>
                      <td style="font-size: 15px; font-weight: bold;">
                        <strong>Libro:</strong>
                      </td>
                      <td *ngIf="Folio.libro" style="font-size: 15px; font-weight: bold;">
                        &nbsp;<strong>{{ Folio.libro.nombre }}</strong>
                      </td>
                    </tr>
                    <tr *ngIf="Folio.libro">
                      <td>Código:</td>
                      <td>&nbsp;{{ Folio.libro.codigo }}</td>
                    </tr>
                    <tr *ngIf="Folio.libro">
                      <td>Clase Libro:</td>
                      <td>&nbsp;{{ Folio.libro.tipoLibro.descripcion }}</td>
                    </tr>
                    <tr *ngIf="Folio.libro">
                      <td>Tipo Firma:</td>
                      <td>&nbsp;{{ Folio.libro.tipoFirma.nombre }}</td>
                    </tr>
                    <tr *ngIf="Folio.libro">
                      <td>Fecha Apertura:</td>
                      <td>
                        &nbsp;{{
                          Folio.libro.fechaApertura | date: "dd-MM-yyyy HH:mm"
                        }}
                      </td>
                    </tr>
                    <tr *ngIf="Folio.libro">
                      <td>Fecha Cierre:</td>
                      <td>
                        &nbsp;{{
                          Folio.libro.fechaCierre | date: "dd-MM-yyyy HH:mm"
                        }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <hr />
              <table>
                <tr>
                  <td style="font-size: 15px; font-weight: bold;">
                    Folio #{{ Folio.numeroFolio }}
                  </td>
                  <td>
                    &nbsp;{{ Folio.fechaFirma | date: "dd-MM-yyyy HH:mm:ss" }}
                  </td>
                </tr>
                <tr>
                  <td>Emisor:</td>
                  <td *ngIf="emisor">
                    &nbsp;{{ emisor.usuarioDependencia.usuario.firstName }}
                    {{ emisor.usuarioDependencia.usuario.lastName }}- RUT:{{
                      emisor.usuarioDependencia.usuario.lastName
                    }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>&nbsp;Administrador Contratista</td>
                </tr>
                <tr>
                  <td>Receptor:</td>
                  <td  *ngIf="receptor">
                    &nbsp;{{ receptor.usuarioDependencia.usuario.firstName }}
                    {{ receptor.usuarioDependencia.usuario.lastName }}- RUT:{{
                      receptor.usuarioDependencia.usuario.lastName
                    }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td>&nbsp;Administrador Mandante</td>
                </tr>
                <tr *ngIf="Folio.libro">
                  <td>Tipo de Folio:</td>
                  <td>&nbsp;{{ Folio.tipoFolio.nombre }}</td>
                </tr>
                <tr>
                  <td>Respuesta de:</td>
                  <td  *ngIf="Folio.idlibroRelacionado !== null">&nbsp; {{folioRelacionado.libro?.nombre}} 
                            | Folio : {{folioRelacionado.numeroFolio }} 
                            
                  </td>
                  <td *ngIf="Folio.idlibroRelacionado === null">&nbsp;n/a</td>
                </tr>
                <tr>
                  <td>Referencia de:</td>
                  <td>
                    <!--
                             &nbsp;
                    <li class="list-inline-item">
                      <a href="">Libro Maestro, Folio Nº003</a>
                    </li>
                    &nbsp;
                    <li class="list-inline-item">
                      <a href="">Libro Maestro, Folio Nº010</a>
                    </li>
                    &nbsp;
                    <li class="list-inline-item">
                      <a href="">Libro Maestro, Folio Nº012</a>
                    </li>
                    -->
                  </td>
                </tr>
                <tr>
                  <td>Fecha Requerida:</td>
                  <td>
                    &nbsp;<span *ngIf="Folio.fechaRequerida === undefined || Folio.fechaRequerida === null" class="badge badge-primary">No</span
                    >&nbsp;&nbsp;{{ Folio.fechaRequerida | date: "dd-MM-yyyy HH:mm" }}
                  </td>
                </tr>
                <tr>
                  <td>Asunto:</td>
                  <td>&nbsp;{{ Folio.asunto }}</td>
                </tr>
              </table>
              <hr />
              <div style="font-size: 15px; font-weight: bold;">Anotación:</div>
              <br />
              <p [innerHtml]="Folio.anotacion"></p>
              <hr />
              <div class="row">
                <div class="col-6" style="font-size: 15px; font-weight: bold;">
                  {{ listaArchivos.length}} Archivos Adjuntos:
                </div>
                <div class="col-6 text-right">
                  <a href=""
                    ><i style="color: #000000;" class="material-icons mr-1"
                      >get_app</i
                    ></a
                  >
                  <a href=""
                    ><i style="color: #000000;" class="material-icons"
                      >cloud_download</i
                    ></a
                  >
                </div>
              </div>
              <ul class="list-inline" >
                <li *ngFor="let archivo of listaArchivos" (click)="openFile(archivo.archivoContentType, archivo.archivo , archivo.descripcion)"class="list-inline-item">
                  <a >{{ archivo.descripcion}}</a>
                </li>
                &nbsp;
              </ul>
              <hr />
              <strong *ngIf="emisor"
                >{{ emisor.usuarioDependencia.usuario.firstName }}
                {{ emisor.usuarioDependencia.usuario.lastName }}</strong
              >
              <br />Administrador de Contrato <br />Fecha Firma:
              {{ Folio.fechaFirma | date: "dd-MM-yyyy HH:mm" }} <br />Fimar
              Digital Avanzada (no existe el campo )<br />Cód. Verificación:
              d5sd4537dasd45675asd456ad-7856asd-745
              <mat-divider class="mt-2"></mat-divider>
              <p style="font-size: smaller;" class="text-right mt-1">
                Creado mediante en plataforma <a href="">www.lodigital.cl</a>,
                Diseñada por LinkSystem Spa.
              </p>
            </div>
          </mat-tab>
          <!--
          <mat-tab label="Notas">
            <div class="container-fluid">
              <p style="font-weight: bold;">dasdasdas</p>
            </div>
          </mat-tab>
          <mat-tab label="Alertas">
            <div class="container-fluid">
              ddasdasdasd
            </div>
          </mat-tab>
          <mat-tab label="Relaciones">
            <div class="container-fluid">
              ddasdasdasd
            </div>
          </mat-tab>
             -->
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
