<div class="main-content">
  <div class="container-fluid">
    <div class="mt-2">
      <button mat-raised-button type="button" class="btn btn-default btn-sm" (click)="routeDetalleContrato()">
        <i class="material-icons">keyboard_arrow_left</i>
        Detalle Contrato
      </button>
      <button mat-raised-button type="button" class="btn btn-default btn-sm float-right" (click)="routeResumenFolio()">
        Resumen Folios
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
    <div class="card mt-2">      
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Libro">
            <form [formGroup]="libroInfoGeneralFormGroup">
              <div class="container-fluid mt-3">
                <h5 style="color: #252525;">
                  <strong>Información General</strong>
                </h5>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Cod. Libro"
                      type="text"
                      formControlName="codigo"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-9">
                    <input
                      matInput
                      placeholder="Nombre Libro"
                      type="text"
                      formControlName="nombre"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Estado"
                      type="text"
                      formControlName="estadoLibro"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Fecha creación"
                      type="text"
                      formControlName="fechaCreacion"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                     formControlName="fechaApertura"
                      matInput
                      placeholder="Fecha apertura"
                      type="text"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      formControlName="fechaCierre"
                      matInput
                      placeholder="Fecha cierre"
                      type="text"
                      value="sin información"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <mat-form-field class="example-full-width">
                  <textarea
                    matInput
                    placeholder="Descripción"
                    rows="2"
                    formControlName="descripcion"
                    disabled
                  ></textarea>
                </mat-form-field>
                <div class="row">
                  <mat-form-field class="col-md-6">
                    <mat-select
                      placeholder="Clase Libro"
                      name="city"
                      formControlName="tipoLibro"
                    >
                      <mat-option
                        *ngFor="let tipo of tipoLibro"
                        [value]="tipo.descripcion"
                      >
                        {{ tipo.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-md-6">
                    <mat-select
                      placeholder="Tipo Firma"
                      name="city"
                      formControlName="tipoFirma"
                    >
                      <mat-option
                        *ngFor="let tipo of tipoFirma"
                        [value]="tipo.nombre"
                      >
                        {{ tipo.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <hr />
                <h5 style="color: #252525;">
                  <strong>Administrador Mandante</strong>
                </h5>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      formControlName="rutAdminMandante"
                      placeholder="RUT"
                      type="text"
                      value="13.224.233-k"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Nombre"
                      type="text"
                      value="Fernando Vilches Soleman"
                      disabled
                      formControlName="nombreAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Perfil Usuario"
                      type="text"
                      value="Administrador (s)"
                      disabled
                      formControlName="perfilUsuarioAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="Fecha Asignación"
                      type="text"
                      value="12/05/2020"
                      disabled
                      formControlName="fechaAsignacionAdminMandante"
                    />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Cargo/Función"
                      type="text"
                      value="Inspector Fiscal"
                      disabled
                      formControlName="cargoAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Teféfono"
                      type="text"
                      value="966453188"
                      disabled
                      formControlName="telefonoAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-4">
                    <input
                      matInput
                      placeholder="E-mail"
                      type="text"
                      value="fvilchessoleman@gmail.com"
                      disabled
                      formControlName="emailAdminMandante"
                    />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Entidad"
                      type="text"
                      value="Ilustre Municipalidad de La Serena"
                      disabled
                      formControlName="entidadAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="RUT"
                      type="text"
                      value="78.456.415-9"
                      disabled
                      formControlName="rutEntidadAdminMandante"
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Dependencia"
                      type="text"
                      value="Dirección de Obras Muncipales"
                      disabled
                      formControlName="dependenciaEntidadMandante"
                    />
                  </mat-form-field>
                </div>
                <hr />
                <h5 style="color: #252525;">
                  <strong>Administrador Contratista</strong>
                </h5>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="RUT"
                      type="text"
                      formControlName="rutAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Nombre"
                      type="text"
                      formControlName="nombreAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Perfil Usuario"
                      type="text"
                      formControlName="perfilUsuarioAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="Fecha Asignación"
                      type="text"
                      formControlName="fechaAsignacionAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Cargo/Función"
                      type="text"
                      formControlName="cargoAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-3">
                    <input
                      matInput
                      placeholder="Teféfono"
                      type="text"
                      formControlName="telefonoAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-4">
                    <input
                      matInput
                      placeholder="E-mail"
                      type="text"
                      formControlName="emailAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Entidad"
                      type="text"
                      formControlName="entidadAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-2">
                    <input
                      matInput
                      placeholder="RUT"
                      type="text"
                      formControlName="rutEntidadAdminContratista"
                      disabled
                    />
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-5">
                    <input
                      matInput
                      placeholder="Dependencia"
                      type="text"
                      formControlName="dependenciaEntidadContratista"
                      disabled
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="container-fluid mt-3" *ngIf="abrirLibroMostrar">
              <hr />
              <div class="row">
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-primary mr-1"
                  (click)="abrirLibro()"
                >
                  <span class="btn-label">
                    <i class="material-icons">loop</i>
                  </span>
                  Abrir Libro
                </button>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Usuarios Mandante">
            <div class="container-fluid mt-3">
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn btn-primary" (click)="modalCrearUsuario()">                  
                  Nuevo Usuario
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped mt-2">
                  <thead class="text-muted">
                    <tr>
                      <th><i class=" material-icons" style="font-size: 16px;">settings</i></th>
                      <th scope="col">{{ tableData2.headerRow[0] }}</th>
                      <th>{{ tableData2.headerRow[1] }}</th>
                      <th>{{ tableData2.headerRow[2] }}</th>
                      <th>{{ tableData2.headerRow[3] }}</th>
                      <th>{{ tableData2.headerRow[4] }}</th>
                      <th class="text-right">{{ tableData2.headerRow[5] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of listaUsuarioMandante">
                      <td scope="row" style="width: 15px;"><i *ngIf="row.adminActivo === true" class=" material-icons iconoAdminAcual" style="font-size: 16px; color: darkorange;">settings</i></td>
                      <td scope="row" style="width: auto;">{{ row.usuarioDependencia.rut }}</td>
                      <td>{{ row.usuarioDependencia.usuario?.firstName }} {{ row.usuarioDependencia.usuario.lastName }}</td>
                      <td>{{ row.cargoFuncion }}</td>
                      <td>{{ row.perfilUsuarioLibro.nombre }}</td>
                      <td style="display: flex;">
                        <span
                          *ngIf="row.nombreEstado === 'Activo'"
                          class="badge badge-primary"
                          style="background-color: green;"
                          > {{ row.nombreEstado }}</span
                        >
                        <span
                          *ngIf="row.nombreEstado === 'Inactivo'"
                          class="badge badge-primary"
                          style="background-color: red  ;"
                          > {{ row.nombreEstado }}</span
                        >                        
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[5] }}"
                          (click)="editarUsuario(row)"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <!--
                          <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[5] }}"
                          (click)="eliminarUsuarioRowMandante(row)"
                        >
                          <i class="material-icons">delete</i>
                        </button>
                        -->
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Usuarios Contratista">
            <div class="container-fluid mt-3">
              <div class="pull-right">
                <button mat-raised-button type="submit" class="btn btn-primary " (click)="modalCrearUsuarioContratista()">
                  Nuevo Usuario
                </button>
              </div>
              <div class="table-responsive">
                <table class="table table-striped mt-2">
                  <thead class="text-muted">
                    <tr>
                      <th><i class=" material-icons" style="font-size: 16px;">settings</i></th>
                      <th scope="col">{{ tableData2.headerRow[0] }}</th>
                      <th>{{ tableData2.headerRow[1] }}</th>
                      <th>{{ tableData2.headerRow[2] }}</th>
                      <th>{{ tableData2.headerRow[3] }}</th>
                      <th>{{ tableData2.headerRow[4] }}</th>
                      <th class="text-right">{{ tableData2.headerRow[5] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of listaUsuarioContratistaAgregados">
                      <td scope="row" style="width: 15px;"><i *ngIf="row.adminActivo === true" class=" material-icons iconoAdminAcual" style="font-size: 16px; color: darkorange;">settings</i></td>
                      <td scope="row" style="width: auto;">{{ row.usuarioDependencia.rut }}</td>
                      <td>{{ row.usuarioDependencia.usuario.firstName }} {{ row.usuarioDependencia.usuario.lastName }}</td>
                      <td>{{ row.cargoFuncion }}</td>
                      <td>{{ row.perfilUsuarioLibro.nombre }}</td>
                      <td style="display: flex;">
                        <span
                          *ngIf="row.nombreEstado === 'Activo'"
                          class="badge badge-primary"
                          style="background-color: green;"
                          > {{ row.nombreEstado }}</span
                        >
                        <span
                          *ngIf="row.nombreEstado === 'Inactivo'"
                          class="badge badge-primary"
                          style="background-color: red  ;"
                          > {{ row.nombreEstado }}</span
                        >                        
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[5] }}"
                          (click)="editarUsuarioContratista(row)"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <!--
                          <button
                          mat-raised-button
                          type="button"
                          (click)="eliminarUsuarioRowContratista(row)"
                          class="btn btn-default {{ row[5] }}"
                        >
                          <i class="material-icons">delete</i>
                        </button>
                        -->
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Configuración y Permisos">
            <div class="container-fluid mt-3">
              <form [formGroup]="permisosFormGroup">
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="aperturaMandante"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Mandante generar folios
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="aperturaContratista"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Contratista generar folios
                  </label>
                </div>
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="escrituraMandante"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Mandante abrir el Libro
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="escrituraContratista"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Contratista abrir el Libro
                  </label>
                </div>
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="cierreMandante"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Mandante cerrar el Libro
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="cierreContratista"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Contratista cerrar el Libro
                  </label>
                </div>
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="lecturaMandante"
                    />
                    <span class="toggle"></span>
                    Solicitar confirmación de lectura de Folios al Mandante
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="lecturaContratista"
                    />
                    <span class="toggle"></span>
                    Solicitar confirmación de lectura de Folios al Contratista
                  </label>
                </div>
              </form>
              <hr />
              <div class="pull-right">
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-default mr-1"
                >
                  Cancelar
                </button>
                <button   (click)="guardarCambios()" mat-raised-button type="submit" class="btn btn-behance">
                  Guardar Cambios
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
