<mat-dialog-content>
<!--   <ngx-extended-pdf-viewer
    [src]="data.pdf"
    [textLayer]="true"
    useBrowserLocale="true"
    height="85vh"
    [theme]="'light'"
    [showBorders]="false"
    [enablePrint]="true"
  ></ngx-extended-pdf-viewer> -->
 
  <body>   
    <iframe type="application/pdf" src="data.pdfArchivoCompleto" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
  </body>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-default mr-1">Salir</button>
  <div *ngxPermissionsOnly="['administrador','superior','administrador/s']">
    <button
      mat-button
      class="btn btn-primary"
      (click)="modalFirmarFolio()"
      [disabled]="!data.previsualisar"
      *ngIf="muestraAcciones === 1"
      style="float: right;"
    >
      Firmar
    </button>
  </div>
  <div *ngxPermissionsOnly="['administrador','superior','administrador/s']">
    <button
      mat-button
      class="btn btn-primary"
      (click)="informar()"
      [disabled]="!data.previsualisar"
      *ngIf="muestraAcciones === 2 "
      style="float: right;"
    >
      Enviar Folio
    </button>
  </div>
  <div *ngxPermissionsOnly="['administrador','superior','administrador/s']">
      <button
        mat-button
        class="btn btn-primary"
        (click)="modalFirmarFolio()"
        [disabled]="!data.previsualisar"
        *ngIf="muestraAcciones === 3 "
        style="float: right;"
      >
        Confirmar Lectura
      </button>
  </div>  
</mat-dialog-actions>
