<h2 mat-dialog-title style="text-align: center;">Firmar Folio</h2>
<mat-dialog-content class="mat-typography">
  <ngx-extended-pdf-viewer
    [src]="data.pdf"
    [textLayer]="true"
    useBrowserLocale="true"
    height="85vh"
  ></ngx-extended-pdf-viewer>
</mat-dialog-content>
{{mostrar}}
<mat-dialog-actions align="end">
  <button  mat-button mat-dialog-close>Salir</button>
  <button
    mat-button
    class="btn btn-primary"
    (click)="modalFirmarFolio()"
    cdkFocusInitial
    [disabled]="!data.previsualisar"
  >
    Firmar
  </button>
</mat-dialog-actions>

