<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Mis Libros</h4>
      </div>
      <div class="card-body">
        
        <mat-form-field>
          <mat-label>Busqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese" />
        </mat-form-field>
        <table class="table table-striped mt-2">
          <thead class="text-muted">
            <tr>
              <th class="text-left">{{ tableData1.headerRow[0] }}</th>
              <th>{{ tableData1.headerRow[1] }}</th>
              <th>{{ tableData1.headerRow[2] }}</th>
              <th>{{ tableData1.headerRow[3] }}</th>
              <th>{{ tableData1.headerRow[4] }}</th>
              <th class="text-right">{{ tableData1.headerRow[5] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of libros">
              <td class="text-left">{{ row.codigo }}</td>
              <td>{{ row.nombre }}</td>
              <td>{{ row.tipoLibro.descripcion }}</td>
              <td>{{ row.tipoFirma.nombre }}</td>
              <td>
                <span
                  *ngIf="row.estadoLibro.nombre === 'En creacion'"
                  class="badge badge-primary"
                  >{{ row.estadoLibro.nombre }}</span
                >
                <span
                  *ngIf="row.estadoLibro.nombre === 'Abierto'"
                  class="badge badge-primary"
                  style="background-color: green;"
                  >{{ row.estadoLibro.nombre }}</span
                >
                <span
                  *ngIf="row.estadoLibro.nombre === 'Cerrado'"
                  class="badge badge-primary"
                  style="background-color: orange;"
                  >{{ row.estadoLibro.nombre }}</span
                >
                <span
                  *ngIf="row.estadoLibro.nombre === 'Bloqueado'"
                  class="badge badge-primary"
                  style="background-color: red;"
                  >{{ row.estadoLibro.nombre }}</span
                >
              </td>
              <td class="td-actions text-right">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-default {{ row[5] }} mr-1"
                  (click)="editarLibro(row)"
                >
                  <i class="material-icons">edit</i>
                </button>
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-default {{ row[5] }}"
                  (click)="folios(row)"
                >
                  <i class="material-icons">keyboard_arrow_right</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        


        <mat-paginator
          [pageSizeOptions]="[25, 50, 100]"
          showFirstLastButtons 
        ></mat-paginator>
      </div>
      
    </div>
  </div>
</div>
