<h5 style="font-weight: bold;">Asignar Usuario</h5>
<br />
<mat-dialog-content>
  <form [formGroup]="usuarioFormGroup" class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Seleccione Usuario"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.nombre"
          (click)="valorAutoComplete(option)"
        >
          {{ option.nombre }} 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Ingrese Cargo"
        type="text"
        disabled
        formControlName="cargo"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Seleccione Perfil" formControlName="perfil">
        <mat-option
          *ngFor="let perfil of data.usuarioLibroPerfil"
          [value]="perfil.nombre"
          (click)="valorPerfilUsuarioLibro(perfil)"
        >
          {{ perfil.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn btn-default" (click)="cerrar()">
    Cancelar
  </button>
  <button
    mat-raised-button
    (click)="asignarUsuario()"
    [disabled]="!usuarioFormGroup.valid"
    cdkFocusInitial
    class="btn btn-primary"
  >
    Aceptar
  </button>
</mat-dialog-actions>
