<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">mail_outline</i>
        </div>
        <h4 class="card-title">Municipalidad de La Serena</h4>
        <h6 class="card-title">Municipalidad de La Serena</h6>
      </div>
      <div class="card-body">
        <label for=""> oficina </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container"></div>
      </div>
    </div>
  </div>
</div>
