<div class="main-content">
  <div class="container-fluid">
       
    <div class="card mt-5">
      <div class="card-header card-header-info card-header-tabs">                
        <h6 class="card-title">Municipalidad de La Serena</h6>                        
      </div>
      <div class="card-body">
        <div class="row">          
          <div class="col-5">                                   
            <a>RUT: 78.245.455-K</a>
            <br><a>Dependencia: Dirección de Obras Muncipales</a>
          </div>
          <div class="col-1">
            <div class="d-flex justify-content-center">Estado</div>
            <div class="d-flex justify-content-center"><span class="badge badge-success">Activo</span></div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-center">Activación</div>
            <div class="d-flex justify-content-center">12/05/2020 12:30</div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-center">Desactivación</div>
            <div class="d-flex justify-content-center">...</div>
          </div>
          <div class="col-2">
            <i class="d-flex justify-content-center material-icons text-info">settings</i>
            <div class="d-flex justify-content-center">Super Usuario</div>           
          </div>         
        </div>
      </div>
    </div>
    <div class="card mt-5">
      <div class="card-header card-header-info card-header-tabs">                
        <h6 class="card-title">Constructora Elqui Limitada</h6>                        
      </div>
      <div class="card-body">        
        <div class="row">          
          <div class="col-5">                                   
            <a>RUT: 77.458.556-6</a>
            <br><a>Dependencia: Oficina de Licitaciones y Obras</a>
          </div>
          <div class="col-1">
            <div class="d-flex justify-content-center">Estado</div>
            <div class="d-flex justify-content-center"><span class="badge badge-danger">Inactivo</span></div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-center">Activación</div>
            <div class="d-flex justify-content-center">12/05/2020 12:30</div>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-center">Desactivación</div>
            <div class="d-flex justify-content-center">12/08/2020 11:12</div>
          </div>
          <div class="col-2">
            <i class="d-flex justify-content-center material-icons text-info">person</i>
            <div class="d-flex justify-content-center">Usuario</div>           
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
