<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h3 class="mat-h3">Municipalidad de La Serena aa</h3>
            <spam class="text-muted">RUT: 78.565.355-6</spam><br />
            <spam class="text-muted">Dirección de Obras Municipales</spam><br />
          </div>
          <div class="col-md-4">
            dsadasd
          </div>
          <div class="col-md-4">
            Super Usuario
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
