<div class="main-content">
    <div class="container-fluid">
      <div class="mt-2">
        <button mat-raised-button type="button" class="btn btn-default btn-sm" (click)="routeMisEntidades()">
          <i class="material-icons">keyboard_arrow_left</i>
          Mis Entidades
        </button>
      </div>
      <!-- Inicio card de Creación Contrato -->
      <div class="card mt-2">
        <div class="card-body">
            <mat-tab-group>
                <mat-tab label="Datos Entidad">
                  <form [formGroup]="formEntidad">
                    <div class="container-fluid mt-3">
                      <h5 style="font-weight: bold;" class="text-muted"><strong>Razón Social</strong></h5>
                      <hr class="mt-2">
                      <div>
                        <mat-form-field class="example-full-width mt-2">
                          <input
                            matInput
                            placeholder="RUT"
                            type="text"
                            formControlName="rut"
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Nombre Razón Social"
                            type="text"
                            formControlName="nombreEmpresa"
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Tipo Empresa"
                            type="text"
                            formControlName="tipoEmpresa"
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Rubro / Actividad"
                            type="text"
                            formControlName="rubroActividad"
                          />
                        </mat-form-field>
                      </div>                                           
                      <h5 style="font-weight: bold;" class="text-muted mt-2"><strong>Dependencia</strong></h5>
                      <hr class="mt-2">
                      <div>
                        <mat-form-field class="example-full-width mt-2">
                          <input
                            matInput
                            placeholder="Dependencia"
                            type="text"
                            formControlName="dependenciaNombre"
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <textarea
                            matInput
                            placeholder="Descripción"
                            rows="2"
                            formControlName="descripcionDependencia"
                          ></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dirección"
                            type="text"
                            value="Avenida Balmaceda 4536, Edificio x, 4º Piso, Oficina Nº405"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Región"
                            type="text"
                            formControlName="regionDependencia"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Comuna"
                            type="text"
                            formControlName="comunaDependencia"
                            disabled
                          />
                        </mat-form-field>
                      </div>                    
                      <h5 style="font-weight: bold;" class="text-muted mt-2"><strong>Contacto Comercial</strong></h5>
                      <hr class="mt-2">
                      <div>
                        <mat-form-field class="example-full-width mt-2">
                          <input
                            matInput
                            placeholder="Nombre"
                            type="text"
                            formControlName="nombreContactoComercial"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Cargo"
                            type="text"
                            formControlName="cargoContactoComercial"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Teféfono Principal"
                            type="text"
                            formControlName="telefonoPrincipalContactoComercial"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Teféfono Secundario"
                            type="text"
                            formControlName="telefonoSecundarioContactoComercial"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Email"
                            type="text"
                            formControlName="emailContactoComercial"
                            disabled
                          />
                        </mat-form-field>
                      </div>
                      <h5 style="font-weight: bold;" class="text-muted mt-2"><strong>Contacto Técnico</strong></h5>
                      <hr class="mt-2">
                      <div>
                        <mat-form-field class="example-full-width mt-2">
                          <input
                            matInput
                            placeholder="Nombre"
                            type="text"
                            formControlName="nombreContactoTecnico"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Cargo"
                            type="text"
                            formControlName="cargoContactoTecnico"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Teféfono Principal"
                            type="text"
                            formControlName="telefonoPrincipalContactoTecnico"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Teféfono Secundario"
                            type="text"
                            formControlName="telefonoSecundarioContactoTecnico"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Email"
                            type="text"
                            formControlName="emailContactoTecnico"
                            disabled
                          />
                        </mat-form-field>
                      </div>             
                      <hr />
                      <div class="pull-right" *ngxPermissionsOnly="['super usuario']">
                        <button
                          *ngIf="editarDatosEntidad === true"
                          mat-raised-button
                          type="submit"
                          class="btn btn-default mr-1"
                          (click)="cancelarDatos()"
                        >
                          <span class="btn-label">
                            <i class="material-icons"></i>
                          </span>
                          Cancelar
                        </button>
                        <button *ngIf="editarDatosEntidad === true" (click)="guardarDatosEntidad()" mat-raised-button type="submit" class="btn btn-primary">                         
                          Guardar
                        </button>
                        <button *ngIf="editarDatosEntidad === false" (click)="editarDatos()" mat-raised-button type="submit" class="btn btn-primary">                         
                          Editar
                        </button>
                      </div>
                    </div>
                  </form>
                </mat-tab>
                <mat-tab label="Usuarios"  *ngxPermissionsOnly="['super usuario']">
                    <div class="container-fluid mt-3">
                      <button
                        mat-raised-button
                        type=""
                        class="btn btn-primary pull-right"
                        (click)="modalUsuario()"
                      >
                        Nuevo Usuario
                      </button>
                      <div class="table-responsive">
                        <div>
                          <table class="table table-striped mt-2">
                            <thead class="text-muted">
                              <tr>
                                <th>{{ tableData1.headerRow[0] }}</th>
                                <th>{{ tableData1.headerRow[1] }}</th>
                                <th>{{ tableData1.headerRow[2] }}</th>
                                <th>{{ tableData1.headerRow[3] }}</th>
                                <th>{{ tableData1.headerRow[4] }}</th>
                                <th>{{ tableData1.headerRow[5] }}</th>
                                <th class="text-right">
                                  {{ tableData1.headerRow[6] }}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of listaUsuariosDependenciaEntidad">
                                <td>
                                  <i *ngIf="row.perfilUsuarioDependencia.nombre === 'Super Usuario'" style="font-size: 16px;" class="material-icons align-middle text-info mr-1">
                                    settings
                                  </i>
                                  <i *ngIf="row.perfilUsuarioDependencia.nombre === 'Usuario'" style="font-size: 16px;" class="material-icons align-middle text-info mr-1">
                                    person
                                  </i>
                                  {{ row.rut }}
                                </td>
                                <td>{{ row.usuario.firstName }} {{ row.usuario.lastName }}</td>
                                <td>{{ row.perfilUsuarioDependencia.nombre }}</td>
                                <td>{{ row.fechaActivacion | date: "dd-MM-yyyy HH:mm" }}</td>
                                <td>{{ row.fechaDesactivacion | date: "dd-MM-yyyy HH:mm" }}</td>
                                <td *ngIf="row.estado === true">
                                  <span class="badge badge-success">Activado</span>
                                </td>
                                <td *ngIf="row.estado === false">
                                  <span class="badge badge-danger">Desactivado</span>
                                </td>
                                <td class="td-actions text-right">
                                  <button
                                    *ngIf="row.perfilUsuarioDependencia.nombre !== 'Super usuario'"
                                    mat-raised-button
                                    type="button"
                                    class="btn btn-default mr-1 {{ row[6] }}"
                                    (click)="modalUsuario(row)"
                                  >
                                    <i class="material-icons">edit</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  
                </mat-tab>
                <mat-tab label="Contratos Asociados"  *ngxPermissionsOnly="['super usuario']">
                    <div class="container-fluid mt-3">
                      <button
                        mat-raised-button
                        type=""
                        class="btn btn-primary pull-right"
                        (click)="nuevoContrato()"
                      >
                        Nuevo Contrato
                      </button>
                      <div class="table-responsive">
                        <div>
                          <table class="table table-striped mt-2">
                            <thead class="text-muted">
                              <tr>
                                <!-- <th>{{ tableData2.headerRow[0] }}</th> -->
                                <th>Contrato</th>
                                <th>Dirección</th>
                                <th>Tipo Contrato</th>
                                <th>Modalidad</th>
                                <th>Estado Contrato</th>
                                <th>Estado Servicio</th>
                                <th class="text-right">
                                  {{ tableData1.headerRow[6] }}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let row of listaContratosEntidad">
                                <!-- <td>{{ row.codigo }}</td> -->
                                <td>{{ row.nombre }} | Cod:{{ row.codigo }}</td>
                                <td>{{ row.direccion }}</td>
                                 <td>{{ row.tipoContrato?.nombre }}</td>
                                <td>{{ row.modalidad?.nombre }}</td>
                                <td>
                                  <span *ngIf="row.estadoServicio.nombre === 'Pendiente'" class="badge badge-warning">{{ row.estadoServicio.nombre }}</span>
                                  <span *ngIf="row.estadoServicio.nombre !== 'Pendiente'" class="badge badge-success">{{ row.estadoServicio.nombre }}</span>
                                </td>
                                <td>
                                  <span *ngIf="row.estadoServicio.nombre === 'Pendiente'" class="badge badge-warning">{{ row.estadoServicio.nombre }}</span>
                                  <span *ngIf="row.estadoServicio.nombre !== 'Pendiente'" class="badge badge-success">{{ row.estadoServicio.nombre }}</span>
                                </td>
                                <td class="td-actions text-right">                                  
                                  <button
                                    mat-raised-button
                                    type="button"
                                    class="btn btn-default {{ row[6] }}"
                                    (click)="routeDetalleContrato(row)"
                                  >
                                    <i class="material-icons">keyboard_arrow_right</i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
      </div>
    </div>
</div>
