<footer class="footer">
  <div class="container-fluid">
    <!--
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    -->
    <div >
      <p class="text-right mr-3">
        Plataforma de registro y gestión <a href="">www.lodigital.cl</a>, Diseñada
        por LinkSystem Spa.
      </p>
    </div>
  </div>
</footer>
