<div class="main-content">
  <div class="container-fluid mt-5">
    <div class="card">
      <div class="card-header card-header-info card-header-tabs">
        <h6 class="card-title">Información de Contrato</h6>
        <p class="card-category">
          {{ nombreContrato }} | Cod.: {{ codigoContrato }}
        </p>
      </div>
      <div class="card-body">
        <mat-tab-group>
          <mat-tab label="Contrato">
            <form [formGroup]="infoGeneralForm">
              <div class="container-fluid">
                <div id="accordion" role="tablist">
                  <div class="card-collapse mt-2">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 style="font-weight: bold;">
                        <a
                          data-toggle="collapse"
                          href="#Tab1"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                          class="collapsed"
                        >
                          Información General
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab1"
                      class="collapse show"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"                      
                    >
                      <div class="card-body">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Cod. Contrato"
                            type="text"
                            formControlName="codigo"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Nombre Contrato"
                            type="text"
                            formControlName="nombre"
                            disabled
                          />
                        </mat-form-field>                      
                        <mat-form-field class="example-full-width">
                          <textarea
                            matInput
                            placeholder="Descripción"
                            rows="2"
                            formControlName="descripcion"
                            disabled
                          ></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dirección"
                            type="text"
                            formControlName="direccion"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select
                            placeholder="Región"
                            name="city"
                            formControlName="region"
                          >
                            <mat-option
                              *ngFor="let region of listaRegiones"
                              [value]="region.nombre"
                              (click)="buscaComuna(region.id)"
                              (selectionChange)="onChangeRegion()"
                            >
                              {{ region.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select
                            placeholder="Comuna"
                            name="city"
                            formControlName="comuna"
                          >
                            <mat-option
                              *ngFor="let comuna of listaComunas"
                              [value]="comuna.nombre"
                            >
                              {{ comuna.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select
                            placeholder="Tipo Contrato"
                            name="city"
                            formControlName="tipoContrato"
                          >
                            <mat-option
                              *ngFor="let tipo of tipoContrato"
                              [value]="tipo.nombre"
                            >
                              {{ tipo.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select
                            placeholder="Modalidad Contrato"
                            name="city"
                            formControlName="modalidad"
                          >
                            <mat-option
                              *ngFor="let modalidad of modalidadContrato"
                              [value]="modalidad.nombre"
                            >
                              {{ modalidad.nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!--
                                      <div class="card-collapse">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 style="font-weight: bold;">
                        <a
                          data-toggle="collapse"
                          href="#Tab2"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                          class="collapsed"
                        >
                          Información Extendida
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab2"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"                      
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid. 3 wolf moon
                        officia aute, non cupidatat skateboard dolor brunch.
                        Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                        wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan
                        excepteur butcher vice lomo. Leggings occaecat craft
                        beer farm-to-table, raw denim aesthetic synth nesciunt
                        you probably haven't heard of them accusamus labore
                        sustainable VHS.
                      </div>
                    </div>
                  </div>
                  -->
                  <div class="card-collapse">
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 style="font-weight: bold;">
                        <a
                          class="collapsed"
                          data-toggle="collapse"
                          href="#Tab3"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Mandante
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab3"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="RUT"
                            type="text"
                            formControlName="rutMandante"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Razón Social"
                            type="text"
                            formControlName="razonSocialMandante"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dependencia"
                            type="text"
                            formControlName="dependenciaMandante"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dirección"
                            type="text"
                            formControlName="direccionDependenciaMandante"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Comuna"
                            type="text"
                            formControlName="comunaMandante"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Región"
                            type="text"
                            formControlName="regionMandante"
                            disabled
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="card-collapse">
                    <div class="card-header" role="tab" id="headingThree">
                      <h5 style="font-weight: bold;">
                        <a
                          class="collapsed"
                          data-toggle="collapse"
                          href="#Tab4"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Contratista
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab4"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="RUT"
                            type="text"
                            formControlName="rutContratista"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Razón Social"
                            type="text"
                            formControlName="razonSocialContratista"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dependencia"
                            type="text"
                            formControlName="dependenciaContratista"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Dirección"
                            type="text"
                            formControlName="direccionDependenciaContratista"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Comuna"
                            type="text"
                            formControlName="comunaContratista"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input
                            matInput
                            placeholder="Región"
                            type="text"
                            formControlName="regionContratista"
                            disabled
                          />
                        </mat-form-field>                       
                      </div>
                    </div>
                  </div>
                </div>
                <!--
                  <button 
                    mat-raised-button
                    type="submit"
                    class="btn btn-primary pull-right"
                    *ngxPermissionsOnly="['super usuario']"
                  >
                  Editar Información
                 </button>
                -->

              </div>
            </form>
          </mat-tab>
          <mat-tab label="Libros">
            <div class="container-fluid mt-3" >
              <button
                mat-raised-button
                type=""
                class="btn btn-primary pull-right"
                (click)="nuevoLibro()"
                *ngxPermissionsOnly="['super usuario']"
              >
                <!-- <span class="btn-label">
                  <i class="material-icons">add</i>
                </span> -->
                Nuevo Libro
              </button>
              <div class="table-responsive" *ngIf="libros.length > 0">
                <table class="table table-striped mt-2">
                  <thead class="text-muted">
                    <tr>
                      <th class="text-left">{{ tableData1.headerRow[0] }}</th>
                      <th>{{ tableData1.headerRow[1] }}</th>
                      <th>{{ tableData1.headerRow[2] }}</th>
                      <th>{{ tableData1.headerRow[3] }}</th>
                      <th>{{ tableData1.headerRow[4] }}</th>
                      <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of libros">
                      <td class="text-left">{{ row.codigo }}</td>
                      <td>{{ row.nombre }}</td>
                      <td>{{ row.tipoLibro.descripcion }}</td>
                      <td>{{ row.tipoFirma.nombre }}</td>
                      <td>
                        <span
                          *ngIf="row.estadoLibro.nombre === 'En creacion'"
                          class="badge badge-primary"
                          >{{ row.estadoLibro.nombre }}</span
                        >
                        <span
                          *ngIf="row.estadoLibro.nombre === 'Abierto'"
                          class="badge badge-primary"
                          style="background-color: green;"
                          >{{ row.estadoLibro.nombre }}</span
                        >
                        <span
                          *ngIf="row.estadoLibro.nombre === 'Cerrado'"
                          class="badge badge-primary"
                          style="background-color: orange;"
                          >{{ row.estadoLibro.nombre }}</span
                        >
                        <span
                          *ngIf="row.estadoLibro.nombre === 'Bloqueado'"
                          class="badge badge-primary"
                          style="background-color: red;"
                          >{{ row.estadoLibro.nombre }}</span
                        >
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[5] }} mr-1"
                          (click)="editarLibro(row)"
                          *ngIf="row.adminLibroActivo === true"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-default {{ row[5] }}"
                          (click)="folios(row)"
                        >
                          <i class="material-icons">keyboard_arrow_right</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Configuración y Permisos">
            <div class="container-fluid mt-3">
              <form [formGroup]="permisosForm">
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="creaLibroAdminMan"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Mandante crear Libros
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="creaLibroAdminCon"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Contratista crear Libros
                  </label>
                </div>
                <div class="togglebutton">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="actualizarContratoAdminMan"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Mandante actualizar
                    información del Contrato
                  </label>
                </div>
                <div class="togglebutton togglebutton-success">
                  <label>
                    <input
                      type="checkbox"
                      checked=""
                      formControlName="actualizarContratoAdminCon"
                    />
                    <span class="toggle"></span>
                    Permitir al Administrador del Contratista actualizar
                    información del Contrato
                  </label>
                </div>
              </form>
              <hr />
              <div class="pull-right" *ngxPermissionsOnly="['super usuario']">
                <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-default mr-1"
                >
                  Cancelar
                </button>
                <button mat-raised-button type="submit" class="btn btn-primary" >
                  Guardar Cambios
                </button>
              </div>
            </div>
          </mat-tab>
          <!--
                      <mat-tab label="Información Servicio">
            <form [formGroup]="informacionServicioForm">
              <div class="container-fluid">
                <div id="accordion" role="tablist">
                  <div class="card-collapse mt-2">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 style="font-weight: bold;">
                        <a
                          data-toggle="collapse"
                          href="#Tab1"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                          class="collapsed"
                        >
                          Servicio Contratado
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab1"
                      class="collapse show"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"                      
                    >
                      <div class="card-body">
                        <div class="row">
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Estado del Servicio"
                              type="text"
                              value="Activo"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-9">
                            <input
                              matInput
                              placeholder="Plan Contratado"
                              type="text"
                              value="Plan básico 2"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <mat-form-field class="example-full-width">
                          <textarea
                            matInput
                            placeholder="Características del plan"
                            rows="2"
                            value="Plan básico con paracidad total de 200 mb de capacidad para adjuntar arhivos"
                            disabled
                          ></textarea>
                        </mat-form-field>
                        <div class="row">
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Fecha contratación"
                              type="text"
                              value="12/02/2020"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Fecha inicio"
                              type="text"
                              value="12/02/2020"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Fecha término servicio"
                              type="text"
                              value="12/09/2020"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Fecha término respaldo"
                              type="text"
                              value="12/09/2025"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field class="example-full-width col-md-4">
                            <input
                              matInput
                              placeholder="MB contratados"
                              type="text"
                              value="200 Mb"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-4">
                            <input
                              matInput
                              placeholder="MB utilizados"
                              type="text"
                              value="150 Mb"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-4">
                            <input
                              matInput
                              placeholder="MB utilizados"
                              type="text"
                              value="50 Mb"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-collapse">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 style="font-weight: bold;">
                        <a
                          data-toggle="collapse"
                          href="#Tab2"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                          class="collapsed"
                        >
                          Contacto Comercial
                          <i class="material-icons mb-1">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="Tab2"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"                      
                    >
                      <div class="card-body">
                        <div class="row">
                          <mat-form-field class="example-full-width col-md-6">
                            <input
                              matInput
                              placeholder="Nombre Contacto"
                              type="text"
                              formControlName="nombreContacto"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-6">
                            <input
                              matInput
                              placeholder="Cargo"
                              type="text"
                              formControlName="cargo"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Teléfono Principal"
                              type="text"
                              formControlName="telefonoContacto"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-3">
                            <input
                              matInput
                              placeholder="Teléfono Secundario"
                              type="text"
                              formControlName="telefonoContactoSecundario"
                              disabled
                            />
                          </mat-form-field>
                          <mat-form-field class="example-full-width col-md-6">
                            <input
                              matInput
                              placeholder="E-mail"
                              type="text"
                              formControlName="emailContacto"
                              disabled
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-tab>
          -->
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
